:root {
    --navBarBGColor: #000000;
    --textColor: #FFFFFF;
    --boxTextColor: #C4B3BA;
    --navBarFont: 'Futura';
    --headerFont: 'Coluna';
    --textFont: 'Montserrat-SemiBold';
    --downloadButtonFont: 'Futura';
}

@font-face {
    font-family: Copperplate;
    src: url("assets/Copperplate.otf") format("opentype");
}

@font-face {
    font-family: Copperplate;
    src: url("assets/Copperplate-Heavy.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: Coluna;
    src: url("assets/Coluna.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    src: url("assets/Futura.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("assets/Montserrat-SemiBold.otf") format("opentype");
}




@media (min-aspect-ratio: 1/1) {
    .logo {
        width: 50vw;
    }

    .max50 {
        max-width: 20vw;
    }

    .box {
        width: 50%;
    }
}

@media (max-aspect-ratio: 1/1) {
    .logo {
        width: 90vw;
    }

    .max50 {
        max-width: 40vw;
    }

    .box {
        width: 90%;
    }
}

.fullWidth {
    width: 100%;
}

.subBoxContainer {
    display: flex;
    justify-content: space-between;
}

.subBox {
    background-color: #00000055;
    border-radius: 10px;
    padding: 5px;
    margin: 5px
}

.subBoxImg {
    width: 100%;
    border-radius: 5px;
}

.navBar {
    top: 0;
    left: 0;
    display: flex;
    background-color: var(--navBarBGColor);
    height: 60px;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    font-family: var(--navBarFont);
}

.navBarFont {
    font-family: var(--navBarFont);
    font-size: 4em;
}

html {
    font-family: var(--textFont);
    font-size: 1rem;    
    background-color: #000000;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
}

body {
    margin: 0;
    color: var(--textColor);
    line-height: 1.8;
}

h1 + * {
    margin-top: 100px;
}

h1 {
    font-family: var(--headerFont);
    color: var(--textColor);
    font-size: 5em;
    margin-top: -30px;
    margin-bottom: -.5em;
}
h2 {
    font-family: var(--headerFont);
    color: var(--textColor);
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: -.2em;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.content {
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    padding: 10px;
    background-color: #000000AA;
    color: var(--boxTextColor);
    margin: 5px;
}

.navBarImg {
    height: 100%;
    width: auto;
}

.navBarItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeOut {
    animation:ease-in-out fadeout 2s ;
}
@keyframes fadeout {
    0% {
        filter: opacity(100%)
    }
    100% {
        filter: opacity(0%)
    }
}

.fadeIn {
    animation: ease-in-out fadein 2s;
}
@keyframes fadein {
    0% {
        filter: opacity(0%)
    }
    100% {
        filter: opacity(100%)
    }
}

.bgHidden {
    opacity: 0;
}

.align2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.align2img {
    width: 40%;
    height: min-content;
    margin-right: 20px;
}

.underline {
    text-decoration: underline;
}

.margin {
    margin-top: 20px !important;
}

.aligntopbottom2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.downloadButton {
    color: #000000;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--downloadButtonFont);
    font-size: 2em;
    letter-spacing: 1px;
    height: min-content;
    width: min-content;
    text-decoration: none;
}